body {
    font: 1.1em Cabin, Helvetica, sans-serif;
    background: white;
    margin: 0;
}

body>header, body>footer, nav#pages span {
    background: yellow url(http://www.istockphoto.com/file_thumbview_approve/6959933/2/istockphoto_6959933-golden-textured-background.jpg);
    border-color: black;
    border-style: solid;
    border-width: 0;
}

body>header, body>footer {
    padding: 1em 0;
}

body>header {
    border-bottom-width: 0.125em;
    padding-bottom: 0.5em;
    margin-bottom: 1em;
}

body>footer {
    border-top-width: 0.0675em;
}

header h1 {
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 4em;
}

article h1 a, header a, article footer a, nav#pages span a {
    text-decoration: none;
    color: inherit;
}

article h1 {
    font-size: 1.25em;
    text-transform: capitalize;
}

article h1 a {
    display: block;
}

article h1 a:after {
    content: "\300b";
    font-size: 75%;
    float: right;
    color: #ccc;
}

article h1:hover a:after {
    color: inherit;
}

article footer {
    display: none;
}

article {
    margin-bottom: 3em;
}

article:first-child {
    background: url(http://www.clker.com/cliparts/4/c/9/7/12589120811502889579gmad_Monkey_head.svg.thumb.png) bottom center no-repeat;
    background-size: 3em 3em;
    padding-bottom: 3em;
}

nav#pages span {
    display: block;
    font-weight: bold;
    font-size: 80%;
    width: 10em;
    height: 2em;
    line-height: 2em;
    overflow: hidden;
    border-width: 0.125em;
    text-transform: capitalize;
}

nav#pages span.next {
    -webkit-border-top-left-radius: 20% 80%;
    -webkit-border-bottom-left-radius: 20% 80%;
    padding-left: 1em;
}

nav#pages span.previous {
    -webkit-border-top-right-radius: 20% 80%;
    -webkit-border-bottom-right-radius: 20% 80%;
    padding-right: 1em;
}

header h1, footer h1 {
    line-height: 70%;
    font-family: Slackey, Impact, sans-serif;
    color: white;
    -webkit-text-stroke: 0.05em;
    -webkit-text-stroke-color: black;
    text-shadow: #000 0.02em 0.02em 0.05em, rgba(0,0,0,0.25) 0.125em 0.1em 0.075em;
    -webkit-transform: rotate(-3deg);
}

header h2, section#online, section#recentcomments {
    display: none;
}

section#online {
    display: none
}

section#content, body>footer {
    padding: 0.5em;
}

span.date {
    display: none
}
