@import url("reset.css");

/* Generic styles */

body {
    background: white;
    color: #333;
    font: 100% Helvetica, sans-serif;
    line-height: 130%;
}

p, pre {
    margin-bottom: 0.8em;
}

pre code {
    display: block;
    background: #333;
    color: #fff;
    padding: 0.5em;
    margin: 0 0.5em;
}

pre {
    overflow: auto;
}

h1 {
    font-size: 1.3em;
}

h1, h2 {
    margin-bottom: 0.8em;
}

h1 a, h2 a {
    text-decoration: none;
    color: inherit;
}

body>header, body>section#content, body>footer {
    padding: 0 0.5em;
}

body>article, #comments>ol, #comments form {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

nav:after, body>header:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}


/* Full-width navs all same style */

nav {
    background: #333;
    border-top: 1px solid #ccc;
    padding: 0.5em;
    color: white;
}

nav a {
    color: inherit;
    text-decoration: none;
}

nav a:hover {
    color: yellow;
}

nav h1, nav h2 {
    font-weight: normal;
}

nav a[rel="prev"] {
    float: left;
    margin: 0.5em 0;
}

nav a[rel="next"] {
    float: right;
    margin: 0.5em 0;
}

nav a[rel="prev"]:before {
    content: '\21d0\00a0'
}

nav a[rel="next"]:after {
    content: '\00a0\21d2'
}


/* header and footer */

body>header, body>footer {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

body>header {
    border-bottom: 1px solid #333;
    background: yellow;
    margin-bottom: 2.1em;
}

body>header h1, body>footer h1 {
    line-height: 0.7em;
    font-family: Slackey, Impact, Helvetica, sans-serif;
    text-transform: uppercase;
    color: white;
    -webkit-text-stroke: 0.05em;
    -webkit-text-stroke-color: black;
    text-shadow: #000 0.02em 0.02em 0.05em, rgba(0,0,0,0.25) 0.125em 0.1em 0.075em;
    letter-spacing: -0.1em;
}

body>header h1 {
    text-align: center;
    margin: 0;
    font-size: 2.1em;
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
}

body>header h1:hover {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
}

body.index>header h1 {
    max-width: 6em;
    font-size: 3.4em;
}

body>header h2 {
    display: none;
}

body>footer {
    color: #fff;
    background: #333;
    border-top: 1px solid #ccc;
    padding-top: 2.1em;
}

body>footer h1 {
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    font-size: 2.1em;
    margin-bottom: 0.8em;
    max-width: 10em;
}


/* Article display. */

article {
    margin-bottom: 2.1em;
}

article.category-links h1:after, article.category-tweets h1:after {
    content: '\00a0\21aa';
    color: #999;
}

article h1 a:hover {
    color: #999;
}

article footer p {
    margin: 0 2.1em;
    text-align: center;
    font-style: italic;
}

article a.read_more {
    display: none;
}

body>article, #comments article, body>footer>* {
    max-width: 50em;
}

body>article p, body>article pre {
    margin-bottom: 2.1em;
}

body.index article {
    overflow: auto;
}

body.index article h1 {
    margin-bottom: 0.5em;
}

body.index #blog article h1 a:after {
    content: '\3009';
    margin-left: 0.5em;
    font-size: 0.8em;
    position: relative;
    bottom: 0.0625em;
}


/* Article end mark */

#blog>article:first-child:after, body>article footer:before, #comments li:last-child:after {
    display: block;
    content: '\273c';
    text-align: center;
    padding: 0.5em inherit;
    color: #999;
}

#blog>article:first-child:after {
    font-size: 2.1em;
}


/* Comments */

#comments h2 {
    font-size: 1.3em;
}

#recorded_comments {
    margin-top: 1.3em;
}

a.to_comments:before, .comment_state:before {
    font-size: 1.3em;
}

a.to_comments:before {
    content: '\2709\00a0';
}

.comment_state:before {
    content: '\270d\00a0';
}

#comments article {
   font-size: 0.8em;
   line-height: 100%;
   overflow: auto;
}

#comments form {
    margin-top: 2.1em;
    margin-bottom: 2.1em;
    font-size: 1em;
}

#comments label {
    display: block;
    margin-bottom: 0.5em;
}

#comments input, #comments textarea {
    width: 100%;
    max-width: 15em;
    margin-bottom: 0.5em;
}

#comments textarea {
    max-width: 25em;
    height: 5em;
}


@media all and (min-width: 30em) {
    body>header {
        margin-bottom: 2.1em;
    }

    body>header h1 {
        max-width: 5em;
        float: right;
    }

    body>article, body>#content, #comments ol, #comments form {
        margin-left: 1.3em;
        margin-righT: 1.3em;
    }

    nav, body>footer {
        padding-left: 1.3em;
        padding-right: 1.3em;
    }

    body>footer {
        padding-bottom: 2.1em;
    }

    body.index #blog article h1 a:after {
        color: #999;
    }
}

@media all and (min-width: 50em) {
    body>header h1 {
        max-width: 5em;
        float: left;
        margin-left: 19em;
    }

    body.index>header h1 {
        margin-left: 0;
        float: right;
    }

    body>article h1 {
        font-size: 2.1em;
        line-height: 100%;
        margin-bottom: 1.3em;
    }

    body>article, body>#content, #comments ol, #comments form {
        margin-left: 3.4em;
        margin-right: 3.4em;
    }

    nav, body>footer {
        padding-left: 3.4em;
        padding-right: 3.4em;
    }
}

@media print {
    body {
        font-size: 10pt;
    }

    pre code {
        background: inherit;
        color: inherit;
        padding: 0;
    }

    body>header, body>footer {
        border: none;
        color: inherit;
    }

    nav, #comments form {
        display: none;
    }

    body>article {
        max-width: none;
        margin: 0 0.5in;
    }
}

}
