@import url("reset.css");

/* Generic styles */

body {
    background: white;
    color: #333;
    font: 100% Helvetica, sans-serif;
}

p, pre {
    margin-bottom: 0.8em;
}

pre code {
    display: block;
    background: black;
    color: #ccc;
    padding: 0.5em;
    margin: 0 0.5em;
}

pre {
    overflow: scroll;
}

h1 a {
    text-decoration: none;
    color: inherit;
}

h1 a:hover {
    color: #999;
}

body>header, body>section, body>article, body>footer {
    padding: 0 0.5em;
}


/* header and footer */

body>header, body>footer {
    border: 1px solid #333;
    background: yellow;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

body>header {
    border-width: 0 0 1px 0;
    margin-bottom: 2.1em;
}

body>footer {
    border-width: 1px 0 0 0;
    margin-top: 2.1em;
}

body>header h1 {
    text-align: center;
    font-size: 1.3em;
}

body.index>header h1 {
    font-size: 2.1em;
}

body>header h2 {
    display: none;
}


/* Article display. */

article h1 {
    margin-bottom: 0.8em;
}

article {
    margin-bottom: 2.1em;
}

body>article h1 {
    font-size: 1.3em;
}

body.index article h1 {
    font-size: 1.3em;
}

article footer p {
    margin: 0 2.1em;
    font-size: 0.8em;
    line-height: 100%;
    font-style: italic;
}


/* Article nav */

body>nav {
    background: #333;
}

body>nav:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

body>nav a {
    color: white;
    text-decoration: none;
    padding: 0.8em;
}

body>nav a[rel="prev"] {
    float: left;
}

body>nav a[rel="next"] {
    float: right;
}

body>nav a[rel="prev"]:before {
    content: '\21d0\00a0'
}

body>nav a[rel="next"]:after {
    content: '\00a0\21d2'
}


/* Article end mark */

#blog>article:first-child:after, body>article footer:before, #comments li:last-child:after {
    display: block;
    content: '\273c';
    text-align: center;
    padding: 0.5em inherit;
    color: #999;
}

#blog>article:first-child:after {
    font-size: 2.1em;
}


/* Comments */

#comments {
    border-top: 1px dashed #333;
    margin-top: 2.1em;
    font-size: 0.8em;
}

#comments>h1 {
    margin: 0.5em 0 1.2em 0;
}

#comments form {
    margin-top: 2.1em;
}

#comments label {
    display: block;
    margin-bottom: 0.5em;
}

#comments input, #comments textarea {
    width: 100%;
    max-width: 15em;
    margin-bottom: 0.5em;
}

#comments textarea {
    max-width: 25em;
    height: 5em;
}


@media all and (min-width: 30em) {
}

@media all and (min-width: 50em) {
}

@media all and (min-width: 70em) {
}
