@import url("reset.css");

body {
    font-family: Cabin, Helvetica, sans-serif;
    background: white;
    margin: 0;
}

header, footer, article, nav {
    display: block;
}

p {
    margin-bottom: 1em;
}

body>header, body>footer, nav#pages span {
    background: yellow;
    border-color: black;
    border-style: solid;
    border-width: 0;
}

body>header, body>footer {
    padding: 1em 0;
}

body>header {
    border-bottom-width: 0.125em;
    padding-bottom: 0.5em;
}

body>footer {
    border-top-width: 0.0675em;
}

header h1 {
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
    padding: 0 0.1em 0 0;
    font-size: 3.5em;
    max-width: 5em;
}

#blog, #online {
    padding-top: 1em;
}

#online {
    margin: 2em 0 0 0;
    border-top: 1px dashed black;
}

#blog h1 a, header a, article footer a, nav#pages span a {
    text-decoration: none;
    color: inherit;
}

#blog h1, #online>h1 {
    font-size: 1.25em;
    text-transform: capitalize;
}

#online>h1, body>footer h1 {
    font-size: 2.5em;
    margin-bottom: 1em;

}

#blog h1, #online article h1 {
    margin-bottom: 1em;
}

#blog h1 a {
    display: block;
}

#blog h1 a:after {
    content: "\300b";
    font-size: 75%;
    float: right;
    color: #ccc;
}

#blog article:hover a:after {
    color: inherit;
}

#online article h1 {
    font-size: 1em;
    font-weight: normal;
}

article footer {
    display: none;
}

#online article footer {
    font-size: 0.75em;
}

#blog article {
    margin-bottom: 3em;
}

#online article {
    margin-bottom: 2em;
}

article:first-child:after {
    display: block;
    padding-bottom: 0.5em;
    text-align: center;
    content: "\273C";
    font-size: 400%;
    color: #ccc;
}

nav#pages span {
    display: block;
    font-weight: bold;
    font-size: 80%;
    width: 10em;
    height: 2em;
    line-height: 2em;
    overflow: hidden;
    border-width: 0.125em;
    text-transform: capitalize;
}

nav#pages span.next {
    -webkit-border-top-left-radius: 20% 80%;
    -webkit-border-bottom-left-radius: 20% 80%;
    padding-left: 1em;
}

nav#pages span.previous {
    -webkit-border-top-right-radius: 20% 80%;
    -webkit-border-bottom-right-radius: 20% 80%;
    padding-right: 1em;
}

header h1, footer h1, #online>h1 {
    line-height: 0.7em;
    font-family: Slackey, Impact, sans-serif;
    color: white;
    -webkit-text-stroke: 0.05em;
    -webkit-text-stroke-color: black;
    text-shadow: #000 0.02em 0.02em 0.05em, rgba(0,0,0,0.25) 0.125em 0.1em 0.075em;
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    letter-spacing: -0.1em;
}

header h2, #recentcomments {
    display: none;
}

#content, body>footer {
    padding: 0 0.5em;
}

span.date {
    display: none
}

@media all and (min-width: 30em) {
    header h1 {
        margin: 0 0 0 0.125em;
    }
    
    body>footer, #content {
        padding: 0 1.33em;
    }

    #blog article h1 a:after {
        float: none;
    }
}

@media all and (min-width: 50em) {
    header h1 {
        margin: 0 0 0 0.25em;
    }

    body>footer, #content {
        padding: 0 2em;
    }

    #content:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }

    #blog, #online {
        padding-top: 2em;
    }

    #blog {
        width: 66%;
        float: left;
        max-width: 44em;
    }

    #online {
        width: 33%;
        float: right;
        border-left: 1px dashed #963;
        border-top: none;
        margin-top: 0;
    }

    #blog article {
        padding-right: 1em;
    }

    #online article {
        padding-left: 1em;
    }

    #online>h1 {
        padding-left: 0.5em;
        -webkit-transform: rotate(2deg);
        -moz-transform: rotate(2deg);
    }

}

@media all and (min-width: 70em) {
    header h1 {
        margin: 0 0 0 1em;
    }
    
    body>footer, #content {
        padding: 0 4.33em;
    }

    #blog article {
        margin-right: 2em;
    }

    #online {
        float: left;
    }

    #online article {
        padding-left: 3em;
    }

    #online>h1 {
        padding-left: 1.25em;
    }

}
