@import url("reset.css");

/* Generic styles */

body {
    background: white;
    color: #333;
    font: 100% Helvetica, sans-serif;
    line-height: 130%;
}

p, pre {
    margin-bottom: 0.8em;
}

pre code {
    display: block;
    background: #333;
    color: #fff;
    padding: 0.5em;
    margin: 0 0.5em;
}

pre {
    overflow: auto;
}

h1 {
    font-size: 1.3em;
}

h1, h2 {
    margin-bottom: 0.8em;
}

h1 a, h2 a {
    text-decoration: none;
    color: inherit;
}

h1 a:hover {
    color: #999;
}

body>header, body>section#content, body>article, body>footer, #comments>ol, #comments form {
    padding: 0 0.5em;
}


/* Full-width navs all same style */

nav {
    background: #333;
    border-top: 1px solid #ccc;
    padding: 0.5em;
}

nav:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: yellow;
}

nav h1, nav h2 {
    font-weight: normal;
}

nav a[rel="prev"] {
    float: left;
    margin: 0.5em 0;
}

nav a[rel="next"] {
    float: right;
    margin: 0.5em 0;
}

nav a[rel="prev"]:before {
    content: '\21d0\00a0'
}

nav a[rel="next"]:after {
    content: '\00a0\21d2'
}


/* header and footer */

body>header, body>footer {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

body>header {
    border-bottom: 1px solid #333;
    background: yellow;
    margin-bottom: 2.1em;
}

body>header h1 {
    text-align: center;
}

body.index>header h1 {
    font-size: 2.1em;
}

body>header h2 {
    display: none;
}

body>footer h1 {
    font-size: 1.3em;
}


/* Article display. */

article {
    margin-bottom: 2.1em;
}

article.category-links h1:after, article.category-tweets h1:after {
    content: '\00a0\21aa';
    color: #999;
}

body>article, #comments article {
    max-width: 50em;
}

body>article p, body>article pre {
    margin-bottom: 1.8em;
}

article footer p {
    margin: 0 2.1em;
    font-size: 0.8em;
    line-height: 100%;
    font-style: italic;
}


/* Article nav */


/* Article end mark */

#blog>article:first-child:after, body>article footer:before, #comments li:last-child:after {
    display: block;
    content: '\273c';
    text-align: center;
    padding: 0.5em inherit;
    color: #999;
}

#blog>article:first-child:after {
    font-size: 2.1em;
}


/* Comments */

#comments {
    border-top: 1px dashed #333;
    margin-top: 2.1em;
}

#comments>h1 {
    margin: 0.5em 0 1.2em 0;
}

#comments article {
   font-size: 0.8em;
   line-height: 100%;
   overflow: auto;
}

#comments form {
    margin-top: 2.1em;
    font-size: 1em;
}

#comments label {
    display: block;
    margin-bottom: 0.5em;
}

#comments input, #comments textarea {
    width: 100%;
    max-width: 15em;
    margin-bottom: 0.5em;
}

#comments textarea {
    max-width: 25em;
    height: 5em;
}


@media all and (min-width: 30em) {
}

@media all and (min-width: 50em) {
}

@media all and (min-width: 70em) {
}
