@import url("reset.css");

/* Generic styles */

body {
    background: white;
    color: #333;
    font: 100% Helvetica, sans-serif;
    line-height: 130%;
}

p,
pre {
    margin-bottom: 0.8em;
}

pre code {
    display: block;
    background: #333;
    color: #fff;
    padding: 0.5em;
    margin: 0 0.5em;
}

pre {
    overflow-x: auto;
    white-space: pre;
}

h1 {
    font-size: 1.3em;
    line-height: 1.3em;
}

h1,
h2 {
    margin-bottom: 0.8em;
}

h1 a,
h2 a {
    text-decoration: none;
    color: inherit;
}

.banner,
#blog,
#online section {
    padding: 0 0.5em;
}

#online section,
#recorded_comments,
footer section.fancy {
    padding-top: 2.1em;
}

footer.banner {
    padding-bottom: 1.3em;
}

#online section {
    border-top: 1px dashed #999;
}

body>article,
#comments>ol,
#comments form {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

#content:after,
nav:after,
footer.banner:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}


/* Full-width navs all same style */

nav {
    background: #333;
    border-top: 1px solid #ccc;
    padding: 0 0.5em;
    color: white;
}

nav a {
    color: inherit;
    text-decoration: none;
    font-weight: normal;
    padding: 0.3em 0 0.5em 0;
    line-height: 1.3em;
    font-size: 1.3em;
    margin: 0;
}

nav a:hover,
footer.banner a:hover {
    color: yellow;
}

nav a[rel="prev"] {
    float: left;
}

nav a[rel="next"] {
    float: right;
}

nav a[rel="prev"]:before {
    content: '\21d0\00a0'
}

nav a[rel="next"]:after {
    content: '\00a0\21d2'
}

#comments nav a {
    display: block;
}


/* header and footer */

header.banner {
    padding-top: 0.5em;
    border-bottom: 1px solid #333;

    background-color: #ff0;
    background-image: linear-gradient(left top, #ff9 0%, #ff6 25%, #ff3 50%, #ff0 100%);
    background-image: -o-linear-gradient(left top, #ff9 0%, #ff6 25%, #ff3 50%, #ff0 100%);
    background-image: -moz-linear-gradient(left top, #ff9 0%, #ff6 25%, #ff3 50%, #ff0 100%);
    background-image: -webkit-linear-gradient(left top, #ff9 0%, #ff6 25%, #ff3 50%, #ff0 100%);
    background-image: -ms-linear-gradient(left top, #ff9 0%, #ff6 25%, #ff3 50%, #ff0 100%);
    background-image: -webkit-gradient(
        linear,
        left top,
        right bottom,
        color-stop(0, #ff9),
        color-stop(0.25, #ff6),
        color-stop(0.5, #ff3),
        color-stop(1, #ff0)
    );
}

header.banner h1 {
    max-width: 4.5em;
    margin: 0 auto;
    font-size: 2.1em;
    text-align: center;
}

body.index header.banner h1 {
    font-size: 3.4em;
}

header.banner h2 {
    display: none;
}

footer.banner {
    color: #fff;
    background: #333;
    border-top: 1px solid #ccc;
}

footer.banner h1 {
    font-size: 2.1em;
    margin-bottom: 0.8em;
    max-width: 10em;
}

footer.banner a {
    color: inherit;
}

#online section:first-child {
    border: 0;
}

#blog,
body>article {
    padding-top: 2.1em;
}


/* Shadowed headings */

h1.fancy, footer .fancy h1 {
    line-height: 0.8em;
    font-family: Slackey, Helvetica, sans-serif;
    text-transform: uppercase;
    text-shadow: #000 0.02em 0.02em 0.05em, rgba(0,0,0,0.25) 0.125em 0.1em 0.075em;
    letter-spacing: -0.1em;
    color: white;
    -webkit-text-stroke: 0.05em;
    -webkit-text-stroke-color: black;
}

/* Fake text stroke where none supported. */
.notextstroke h1.fancy,
.notextstroke footer .fancy h1 {
    text-shadow: 
        #000 -0.05em -0.05em 0em,
        #000 -0.05em 0.05em 0em,
        #000 0.05em -0.05em 0em,
        #000 0.05em 0.05em 0em,
        #000 0.1em 0.1em 0.05em,
        rgba(0,0,0,0.25) 0.1875em 0.15em 0.075em;
}

footer .fancy h1 {
    color: white;
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
}

header h1.fancy {
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
}

#online h1.fancy {
    font-size: 2.1em;
    margin-bottom: 1.3em;
    -webkit-transform: rotate(-1deg);
    -moz-transform: rotate(-1deg);
}

header h1.fancy:hover {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
}


/* Article display. */

article {
    margin-bottom: 1.3em;
}

article.category-links h1:after,
article.category-tweets h1:after {
    content: '\00a0\21aa';
    color: #999;
}

article h1 a:hover {
    color: #999;
}

body>article footer p {
    margin: 0 2.1em;
    text-align: center;
    font-style: italic;
}

article a.read_more {
    display: none;
}

#blog,
body.archive>article,
body>article,
#comments article,
footer.banner section {
    max-width: 50em;
}

body>article p,
body>article pre {
    margin-bottom: 1.3em;
}

body.index article,
body.archive article {
    overflow-x: auto;
}

body.index article h1,
body.archive article h1 {
    margin-bottom: 0.5em;
}

#blog article h1 a:after {
    content: '\3009';
    margin-left: 0.5em;
    font-size: 0.8em;
    position: relative;
    bottom: 0.0625em;
}

.win32 #blog article h1 a:after {
    content: '\276f';
}

#online article h1 {
    font-weight: normal;
}

a.external>* {
    display: none;
}

a.external time {
    display: inline;
}


/* Article end mark */

#blog>.first-post {
    margin-bottom: 0;
    padding-bottom: 2.1em;
}

#blog>.first-post:after,
body>article footer:before,
#comments li:last-child:after {
    display: block;
    content: '\273c';
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    color: #999;
    font-size: 2.1em;
}


/* Comments */

#comments h2,
a.to_comments:before,
.comment_state:before {
    font-size: 1.3em;
}

a.to_comments:before {
    content: '\2709\00a0';
}

.comment_state:before {
    content: '\270d\00a0';
}

#comments article {
    margin-bottom: 1.3em;
    overflow-x: auto;
}

#comments article header {
    padding-bottom: 0.8em;
}

#comments article header cite {
    font-style: normal;
    font-weight: bold;
    padding-right: 0.8em;
}

#comments article header .date {
    font-size: 0.8em;
    display: inline;
}

#comments article header img {
    float: right;
    padding: 0 0 0.5em 0.5em;
}

#comments form {
    margin-top: 2.1em;
    margin-bottom: 2.1em;
    font-size: 1em;
}

#comments label {
    display: block;
    margin-bottom: 0.5em;
}

#comments input,
#comments textarea {
    width: 100%;
    max-width: 15em;
    margin-bottom: 0.5em;
}

#comments textarea {
    max-width: 25em;
    height: 5em;
}


@media all and (min-width: 30em) {
    body>article,
    #comments ol,
    #comments form {
        margin-left: 1.3em;
        margin-right: 1.3em;
    }

    nav,
    #blog,
    .banner,
    #online section {
        padding-left: 1.3em;
        padding-right: 1.3em;
    }

    footer.banner {
        padding-bottom: 2.1em;
    }

    header.banner h1 {
        width: auto;
        display: inline-block;
    }

    #blog article h1 a:after {
        color: #999;
    }
}

@media all and (min-width: 50em) {
    body.index #blog,
    #online section {
        margin: 0;
        padding-left: 0;
        padding-right: 0;
        float: left;
    }

    body.archive #blog,
    body.index #blog>article,
    #online section,
    body.index>nav,
    body.index footer.banner section>*,
    body.archive footer.banner section>* {
        padding-left: 1.3em;
        padding-right: 1.3em;
    }

    #online {
        margin: 0;
        float: left;
        overflow-x: auto;
        border-left: 1px dashed #999;
        width: 49.5%;
    }

    #online section {
        max-width: 30em;
    }

    body.index #blog {
        width: 50%;
    }

    body.index footer.banner,
    body.archive footer.banner {
        padding-left: 0;
        padding-right: 0;
    }

    body.index footer.banner section,
    body.archive footer.banner section {
        width: 33%;
        float: left;
    }

    body.index footer.banner section>h1,
    body.archive footer.banner section>h1 {
        padding-left: 0.5em;
        padding-right: 0.5em;
    }

    nav.between {
        display: none;
    }

    body>article h1,
    body.archive #blog>h1 {
        font-size: 2.1em;
        margin-bottom: 1.3em;
    }

    body>article,
    #comments ol,
    #comments form {
        margin-left: 3.4em;
        margin-right: 3.4em;
    }

    body.archive header.banner,
    body.single header.banner,
    body.archive #blog,
    nav,
    footer.banner {
        padding-left: 3.4em;
        padding-right: 3.4em;
    }

}

@media all and (min-width: 70em) {
    body.index #blog>article,
    #online section,
    body.index>nav,
    body.index footer.banner section>* {
        padding-left: 2.1em;
        padding-right: 2.1em;
    }

    body.index header.banner h1 {
        padding-left: 0.3em;
    }

    body.index footer.banner section>h1 {
        padding-left: 0.8em;
        padding-right: 0.8em;
    }
}

@media print {
    body {
        font-size: 10pt;
    }

    pre code {
        background: inherit;
        color: inherit;
        padding: 0;
    }

    header.banner,
    footer.banner {
        border: none;
        color: inherit;
    }

    nav,
    #comments form {
        display: none;
    }

    body>article {
        max-width: none;
        margin: 0 0.5in;
    }
}
